html {
    background: #DEE7E7;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
  }
  

.intro {
    padding-left: 5%;
}

.education {
  padding-left: 5%;
}

.projects {
  padding-left: 0.5%;
}

.hobbies {
  padding-left: 5%;
}

.topnav {
    overflow: hidden;
    background-color: #535657;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #535657;
  }
  
.topnav a.active {
    background-color: #B7ADCF;
    color: #F4FAFF;
  }


.schoollogos {
    display: flex;
    gap: 100px;
} 

.container {
    position: relative;
    width: 50%;
    max-width: 300px;

  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    position: absolute; 
    bottom: 0; 
    background: #B7ADCF;
    background: #535657; 
    color: #F4FAFF; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 16px;
    padding: 16px;
    text-align: center;
  }
  
.container:hover .overlay {
    opacity: 1;
  }


.row,
.row > .column {
  padding: 12px;
}


.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #F4FAFF;
  padding: 10px;
}

